body {
  font-family: Georgia, Times, serif;
}

h1 {
  text-align: center;
}

/* Requisitos 01 a 4: estilização do header */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-around;
  color: white;
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  gap: 3px;
}

#logoT {
  width: 40px;
}

#entrar {
  width: 20%;
  color: white;
  background-color: purple;

}

* {
  margin: 0;
  padding: 0;
}

/* Requisito 05 e 06: estilização da main */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

/* Requisito 10: Nome e sobrenome */
.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 3px;
  padding: 5px;
}

/* Requisito 12 e 13: estilizando */
#modulos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
}

/* Requisito 14: estilizando */
#avaliacao {
  display: flex;
  justify-content: space-evenly;
}

#label-content {
  padding: 10px;
  display: flex;
}

#trybewarts-forms-logo {
  flex-direction: row;
  height: 500px;
}

#concorda {
  display: flex;
  justify-content: space-between;
}

#submit-btn {
  background-color: purple;
  color: whitesmoke;
  width: 10%;
  font-size: 15px;
}


/* Requisito 19: estilizando footer */
footer {
  text-align: center;
  color: white;
  background-color: grey;
  padding: 0.5rem;
  margin-top: 7%;
}

/* Requisito 21 */
.hidden {
  display: none;
}

#form-data li {
  margin-bottom: 1rem;
}