div:hover {
    border: 3px solid rgb(105, 4, 105);
}
div:nth-of-type(1) {
    background-color: rgb(236, 181, 236);
}
div:nth-of-type(2) {
    background-color: rgb(231, 134, 240);
}
div:nth-of-type(3) {
    background-color: rgb(233, 84, 188);
}
div:nth-of-type(4) {
    background-color: rgb(255, 0, 179);
}
div:nth-of-type(5) {
    background-color: rgb(223, 39, 146);
    
}
