div:hover {
    border: 3px solid rgb(128, 17, 118);
}
div:nth-of-type(1) {
    background-color: rgb(236, 181, 236);
}
div:nth-of-type(2) {
    background-color: rgb(231, 134, 240);
}
div:nth-of-type(3) {
    background-color: rgb(233, 84, 188);
}
div:nth-of-type(4) {
    background-color: rgb(255, 0, 179);
}
div:nth-of-type(5) {
    background-color: rgb(223, 39, 146);
    
}
div:nth-of-type(1) > h3 {
    color: purple;
  
}
div:nth-of-type(2) > h3 {
    color: blueviolet;
}
div:nth-of-type(3) > h3 {
    color: aqua;
    font-size: 30px;
    height: 50px;
    
}
div:nth-of-type(4) > h3 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}
div:nth-of-type(5) > h3 {
    color: blanchedalmond;
 
}

div:nth-last-child(odd) {
    font-style: italic;
}