.header {
  align-items: center;
  background-color: #364550;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.email {
  font-size: 15px;
}

.wallet {
  align-items: baseline;
  display: flex;
  font-size: 15px;
}

.wallet-text {
  margin-right: 5px;
}

.currency {
  font-size: 18px;
  margin-left: 5px;
}
