.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login-container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.login-container label {
  margin-bottom: 10px;
}

.login-container input, .login-container button {
  margin-bottom: 15px;
  padding: 8px;
  width: 200px;
}

.login-container button {
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
}

.login-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
